# Combining and Exporting Data Exercise Part 2

## List of Contents:
## 01. Importing Libraries
## 02. Importing Orders_Products_Combined
## 03. Combining Orders_Products_Combined with Products Data
## 04. Export Merged Data 

## --

## 01. Importing Libraries

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Orders_Products_Combined

In [2]:
#Assigning path for import
path = r'C:\Users\Mosspants\Desktop\CareerFoundry\A4_Python_Fundamentals_for_Data_Analysts\Instacart Basket Analysis_10_2023'

In [3]:
#Importing orders_products_combined.pkl
df_ords_prods = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared_Data', 'orders_products_combined.pkl'))

In [4]:
#Checking import with shape
df_ords_prods.shape

(32434489, 10)

In [5]:
#Checking import with head
df_ords_prods.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

## 03. Combining Orders_Products_Combined with Products Data

### Importing products data.

In [6]:
#Creating a vars list to import products without unnamed column
vars_list = ['product_id', 'product_name', 'aisle_id', 'department_id', 'prices']

In [7]:
#Importing products data set with os library and vars list
df_prods = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'products_checked.csv'), usecols = vars_list)

In [8]:
#Checking output of product data with head
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
#Checking output of product data with shape
df_prods.shape

(49672, 5)

### I will merge the two data sets with an outer join. Both data sets are of different sizes and we also want all of the information in both tables, and can use the product_id as the key column.

### Checking data types of orders_products_combined and products.

In [10]:
#Checking orders_products_combined data type
df_ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              object
 7   add_to_cart_order       int64
 8   reordered               int64
 9   _merge                  category
dtypes: category(1), float64(1), int64(5), object(3)
memory usage: 2.2+ GB

In [11]:
#Checking products data type
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

### Changing product_id in products to string.

In [17]:
df_prods['product_id'] = df_prods['product_id'].astype('str')

In [18]:
#Checking output of change
df_prods.dtypes

product_id        object
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

### Merging of orders_products_combined and products.

In [19]:
#Outer merge on df_ords_prods and df_prods
df_merged = df_ords_prods.merge(df_prods, on = 'product_id', how = 'outer')

### Confirming results of the merge.

In [20]:
#Checking output of merge with head
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1.0,2.0,8.0,NaN,196,1.0,0.0,both,Soda,77.0,7.0,9.0
1,2398795,1,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
2,473747,1,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
3,2254736,1,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
4,431534,1,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0

In [21]:
#Checking output of merge with shape
df_merged.shape

(32435070, 14)

In [22]:
#Checking value counts of _merge
df_merged['_merge'].value_counts()

_merge
both          32435059
left_only            0
right_only           0
Name: count, dtype: int64

## 04. Export Merged Data

In [23]:
#Exporting as orders_products_merged.pkl
df_merged.to_pickle(os.path.join(path, '02_Data', 'Prepared_Data', 'orders_products_merged.pkl'))