# Combining and Exporting Data Exercise Part 1

## List of Contents:
## 01. Importing Libraries
## 02. Importing Data
## 03. Orders_Products_Prior Wrangling
## 04. Orders_Products_Prior Consistency Checks
## 05. Merging Orders and Orders_Products_Prior
## 06. Exporting Merged Data

## --

## 01. Importing Libraries

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
#Assigning path for import
path = r'C:\Users\Mosspants\Desktop\CareerFoundry\A4_Python_Fundamentals_for_Data_Analysts\Instacart Basket Analysis_10_2023'

In [3]:
#Creating vars list to only import columns needed for orders
vars_list = ['order_id', 'user_id', 'order_number', 'order_day_of_week', 'order_hour_of_day', 'days_since_prior_order']

In [4]:
#Importing order_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'order_checked.csv'), usecols = vars_list)

In [5]:
#Importing orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02_Data', 'Original_Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
#Checking import of orders
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
df_ords.shape

(3421083, 6)

In [8]:
#Checking import of orders_products_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prior.shape

(32434489, 4)

## 03. Orders_Products_Prior Wrangling

In [10]:
#Checking information on orders_products_prior
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

### Changing data types.

In [12]:
#Changing order_id to string data type
df_ords_prior['order_id'] = df_ords_prior['order_id'].astype('str')

In [13]:
#Changing product_id to string data type
df_ords_prior['product_id'] = df_ords_prior['product_id'].astype('str')

In [14]:
#Checking data type changes
df_ords_prior.dtypes

order_id             object
product_id           object
add_to_cart_order     int64
reordered             int64
dtype: object

## 04. Orders_Products_Prior Consistency Checks

### Checking for mixed-type data.

In [19]:
for col in df_ords_prior.columns.tolist():
    weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_ords_prior[weird]) > 0:
        print(col)

C:\Users\Mosspants\AppData\Local\Temp\ipykernel_12008\1418472312.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Mosspants\AppData\Local\Temp\ipykernel_12008\1418472312.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Mosspants\AppData\Local\Temp\ipykernel_12008\1418472312.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Mosspants\AppData\Local\Temp\ipykernel_12008\1418472312.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)

### There are no mixed-data types in orders_products_prior.

### Checking for missing values.

In [20]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### There are no missing values in orders_products_prior.

### Checking for duplicates.

In [22]:
#Creating subset of duplicates in orders_products_prior
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [23]:
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### There are no duplicates in orders_products_prior.

### Final checks on orders_products_prior after consistency checks and wrangling.

In [24]:
#Checking shape of orders_products_prior
df_ords_prior.shape

(32434489, 4)

In [25]:
#Checking output of orders_products_prior
df_ords_prior.head()

  order_id product_id  add_to_cart_order  reordered
0        2      33120                  1          1
1        2      28985                  2          1
2        2       9327                  3          0
3        2      45918                  4          1
4        2      30035                  5          0

In [26]:
#Checking info of orders_products_prior
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           object
 1   product_id         object
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(2), object(2)
memory usage: 989.8+ MB

## 05. Merging Orders and Orders_Products_Prior

### Checking data type of orders.

In [28]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

### Changing order_id and user_id to strings.

In [29]:
#Change order_id of orders to string
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [30]:
#Change user_id of orders to string
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [31]:
#Checking data type changes
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 156.6+ MB

### Merging orders and orders_products_prior.

In [32]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [33]:
#Checking the output of merge
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [34]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [35]:
df_merged_large.shape

(32434489, 10)

## 06. Exporting Merged Data

In [36]:
#Exporting as orders_products_combined.pkl
df_merged_large.to_pickle(os.path.join(path, '02_Data', 'Prepared_Data', 'orders_products_combined.pkl'))