# IC Grouping Data and Aggregating Variables Exercise

## List of Contents:
## 01. Importing Libraries
## 02. Importing Data
## 03. Addressing High Price Values
## 04. Average Number of Orders by Department
## 05. Creating a Loyalty Flag for Existing Customers
## 06. Spending Habbits of the Loyalty Flag Groups
## 07. Creating a Spending Flag for Existing Customers
## 08. Creating a Frequency Flag for Existing Customers
## 09. Addressing 11 NaN Values
## 10. Export Data

## --

## 01. Importing Libraries

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
#Assigning path for import
path = r'C:\Users\Mosspants\Desktop\CareerFoundry\A4_Python_Fundamentals_for_Data_Analysts\Instacart Basket Analysis_10_2023'

In [3]:
#Importing data as ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared_Data', 'orders_products_derived.pkl'))

In [4]:
#Checking data after import with head
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_label,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1.0,2.0,8.0,NaN,196,1.0,0.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular Busy,Regular Days,Average Orders
1,2398795,1,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular Busy,Slowest Days,Average Orders
2,473747,1,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular Busy,Slowest Days,Most Orders
3,2254736,1,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Least Busy,Slowest Days,Average Orders
4,431534,1,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Least Busy,Slowest Days,Most Orders

In [5]:
#Checking data after import with describe
ords_prods_merge.describe()

,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.243506e+07,3.243506e+07,3.243506e+07,3.035696e+07,3.243506e+07,3.243506e+07,3.240487e+07,3.240487e+07,3.240487e+07
mean,1.714195e+01,2.738815e+00,1.342498e+01,1.110414e+01,8.351081e+00,5.896955e-01,7.119612e+01,9.919794e+00,1.198022e+01
std,1.753496e+01,2.090051e+00,4.246357e+00,8.778941e+00,7.126656e+00,4.918889e-01,3.821138e+01,6.281486e+00,4.956554e+02
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04

## 03. Addressing High Price Values

In [6]:
#Assinging NaN to prices over 100
ords_prods_merge.loc[ords_prods_merge['prices'] > 100, 'prices'] = np.nan

In [7]:
#Checking change in prices with max
ords_prods_merge['prices'].max()

25.0

In [8]:
#Checking change in prices with describe
ords_prods_merge.describe()

,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.243506e+07,3.243506e+07,3.243506e+07,3.035696e+07,3.243506e+07,3.243506e+07,3.240487e+07,3.240487e+07,3.239974e+07
mean,1.714195e+01,2.738815e+00,1.342498e+01,1.110414e+01,8.351081e+00,5.896955e-01,7.119612e+01,9.919794e+00,7.790994e+00
std,1.753496e+01,2.090051e+00,4.246357e+00,8.778941e+00,7.126656e+00,4.918889e-01,3.821138e+01,6.281486e+00,4.241809e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,2.500000e+01

In [9]:
#Creating subset of Nan values in prices
prices_nan = ords_prods_merge[ords_prods_merge['prices'].isnull() == True]

In [10]:
#Counting new NaN values in prices subset
prices_nan.shape

(35327, 18)

### Duplicate check on orders_products_merged after changes.

In [11]:
#Creating subset for duplicates
ords_prods_merge_dup = ords_prods_merge[ords_prods_merge.duplicated()]

In [12]:
ords_prods_merge_dup

Empty DataFrame
Columns: [order_id, user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered, _merge, product_name, aisle_id, department_id, prices, price_label, busiest_day, busiest_days, busiest_period_of_day]
Index: []

### There are no duplicates after changes.

## 04. Average Number of Orders by Department

In [13]:
#Grouping department_id aggregated by order_number
ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

## 05. Creating a Loyalty Flag for Existing Customers

In [14]:
#Grouping data by order_id, appyling transfrom to generate max order aggregation, and creating a new column for results
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Mosspants\AppData\Local\Temp\ipykernel_8844\1468074955.py:2: FutureWarning: The provided callable <function amax at 0x0000023969D479C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

### Assigning loyalty flags to new max_order column.

### Creating conditions.

In [15]:
#Loyal customer condition - orders over 40
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'

C:\Users\Mosspants\AppData\Local\Temp\ipykernel_8844\1524379026.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Loyal Customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'

In [16]:
#Regular customer condition - orders equal to or under 40 and orders over 10
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [17]:
#New customer condition - orders equal to or under 10
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

### Checking new loyalty_flag column.

In [18]:
#Checking the output of new loyalty flag column with value_counts
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15891507
Loyal Customer      10294027
New Customer         6249525
NaN                       11
Name: count, dtype: int64

In [19]:
#Checking the output of new loyalty flag column with .shape
ords_prods_merge['loyalty_flag'].shape

(32435070,)

## 06. Spending Habbits of the Loyalty Flag Groups

In [20]:
#Min, Max, and Mean of product prices of Loyal Customers, Regular Customers, and New Customers
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['min', 'max', 'mean']})

                 prices
                    min   max      mean
loyalty_flag
Loyal Customer      1.0  25.0  7.773575
New Customer        1.0  25.0  7.801206
Regular Customer    1.0  25.0  7.798262

### The average product price of a Loyal Customer is actually slightly lower than that of New and Regular Customers.

## 07. Creating a Spending Flag for Existing Customers

In [21]:
#Grouping data by user_id, appyling transfrom to generate average prices aggregation, and creating a new column for results
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

C:\Users\Mosspants\AppData\Local\Temp\ipykernel_8844\3830970452.py:2: FutureWarning: The provided callable <function amax at 0x0000023969D479C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

### Assigning spending flags to average_price column.

In [22]:
#Low spender condition - average prices of products purchased lower than 10
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low Spender'

C:\Users\Mosspants\AppData\Local\Temp\ipykernel_8844\4229649758.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low Spender' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low Spender'

In [23]:
#High spender condition - averge prices of products purchased greater than or equal to 10
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High Spender'

In [24]:
#Checking the output of new spender flag column with value_counts
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
High Spender    32403113
Low Spender        31946
NaN                   11
Name: count, dtype: int64

### Checking new spending_flag column.

In [25]:
#Checking the output of new spender flag column with value_counts
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
High Spender    32403113
Low Spender        31946
NaN                   11
Name: count, dtype: int64

In [26]:
#Checking the output of new spender flag column with .shape
ords_prods_merge['spending_flag'].shape

(32435070,)

## 08. Creating a Frequency Flag for Existing Customers

In [27]:
#Grouping data by user_id, appyling transfrom to generate average days_since_prior_order aggregation, and creating a new column for results
ords_prods_merge['average_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

C:\Users\Mosspants\AppData\Local\Temp\ipykernel_8844\2829990256.py:2: FutureWarning: The provided callable <function amax at 0x0000023969D479C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['average_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

### Assigning frequency flags to average_days_since_prior_order column.

In [28]:
#Non-frequent Customer condition - average_days_since_prior_order higher than 20
ords_prods_merge.loc[ords_prods_merge['average_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent Customer'

C:\Users\Mosspants\AppData\Local\Temp\ipykernel_8844\2157338520.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Non-frequent Customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['average_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent Customer'

In [29]:
#Regular Customer condition - average_days_since_prior_order higher than 10 and lower than or equal to 20
ords_prods_merge.loc[(ords_prods_merge['average_days_since_prior_order'] <= 20) & (ords_prods_merge['average_days_since_prior_order'] > 10), 'frequency_flag'] = 'Regular Customer'

In [30]:
#Frequent Customer condition - average_days_since_prior_order lower than or equal to 10
ords_prods_merge.loc[ords_prods_merge['average_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent Customer'

### Checking new frequency_flag column.

In [31]:
#Checking the output of new spender flag column with value_counts
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Non-frequent Customer    24510171
Regular Customer          6539751
Frequent Customer         1385137
NaN                            11
Name: count, dtype: int64

In [32]:
#Checking the output of new loyalty flag column with .shape
ords_prods_merge['frequency_flag'].shape

(32435070,)

## 09. Addressing 11 NaN Values

### In the .value_counts() checks of the new columns, 11 NaN values have shown up consistently.

In [33]:
#Checking NaN values on entire dataframe
ords_prods_merge.isnull().sum()

order_id                               11
user_id                                11
order_number                           11
order_day_of_week                      11
order_hour_of_day                      11
days_since_prior_order            2078113
product_id                              0
add_to_cart_order                      11
reordered                              11
_merge                                 11
product_name                        30200
aisle_id                            30200
department_id                       30200
prices                              35327
price_label                         30200
busiest_day                             0
busiest_days                            0
busiest_period_of_day                  11
max_order                              11
loyalty_flag                           11
average_price                          11
spending_flag                          11
average_days_since_prior_order         11
frequency_flag                         11
dtype: int64

In [36]:
#Creating subset of NaN values using 'order_id'
ords_prods_merge_nan = ords_prods_merge[ords_prods_merge['order_id'].isnull() == True]

In [37]:
ords_prods_merge_nan

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,average_days_since_prior_order,frequency_flag
32435059,NaN,NaN,NaN,NaN,NaN,NaN,3630,NaN,NaN,NaN,...,Low-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435060,NaN,NaN,NaN,NaN,NaN,NaN,3718,NaN,NaN,NaN,...,Mid-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435061,NaN,NaN,NaN,NaN,NaN,NaN,7045,NaN,NaN,NaN,...,Mid-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435062,NaN,NaN,NaN,NaN,NaN,NaN,25383,NaN,NaN,NaN,...,Low-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435063,NaN,NaN,NaN,NaN,NaN,NaN,27499,NaN,NaN,NaN,...,Mid-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435064,NaN,NaN,NaN,NaN,NaN,NaN,36233,NaN,NaN,NaN,...,Mid-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435065,NaN,NaN,NaN,NaN,NaN,NaN,37703,NaN,NaN,NaN,...,Mid-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435066,NaN,NaN,NaN,NaN,NaN,NaN,43725,NaN,NaN,NaN,...,Mid-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435067,NaN,NaN,NaN,NaN,NaN,NaN,45971,NaN,NaN,NaN,...,Mid-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435068,NaN,NaN,NaN,NaN,NaN,NaN,46625,NaN,NaN,NaN,...,Low-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32435069,NaN,NaN,NaN,NaN,NaN,NaN,49540,NaN,NaN,NaN,...,Mid-range product,Regular Busy,Regular Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Much of the data in these 11 rows are missing, and it is a small amount of rows compared to the rest of the data. I will remove them.

In [38]:
#Creating new subset without NaN values
ords_prods_merge_clean = ords_prods_merge[ords_prods_merge['order_id'].isnull() == False]

In [39]:
#Checking new subset with shape
ords_prods_merge_clean.shape

(32435059, 24)

In [40]:
#Running NaN check again on new subset
ords_prods_merge_clean.isnull().sum()

order_id                                0
user_id                                 0
order_number                            0
order_day_of_week                       0
order_hour_of_day                       0
days_since_prior_order            2078102
product_id                              0
add_to_cart_order                       0
reordered                               0
_merge                                  0
product_name                        30200
aisle_id                            30200
department_id                       30200
prices                              35327
price_label                         30200
busiest_day                             0
busiest_days                            0
busiest_period_of_day                   0
max_order                               0
loyalty_flag                            0
average_price                           0
spending_flag                           0
average_days_since_prior_order          0
frequency_flag                          0
dtype: int64

In [41]:
#Checking new subset with head
ords_prods_merge_clean.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,average_days_since_prior_order,frequency_flag
0,2539329,1,1.0,2.0,8.0,NaN,196,1.0,0.0,both,...,Mid-range product,Regular Busy,Regular Days,Average Orders,10.0,New Customer,14.0,High Spender,30.0,Non-frequent Customer
1,2398795,1,2.0,3.0,7.0,15.0,196,1.0,1.0,both,...,Mid-range product,Regular Busy,Slowest Days,Average Orders,10.0,New Customer,14.0,High Spender,30.0,Non-frequent Customer
2,473747,1,3.0,3.0,12.0,21.0,196,1.0,1.0,both,...,Mid-range product,Regular Busy,Slowest Days,Most Orders,10.0,New Customer,14.0,High Spender,30.0,Non-frequent Customer
3,2254736,1,4.0,4.0,7.0,29.0,196,1.0,1.0,both,...,Mid-range product,Least Busy,Slowest Days,Average Orders,10.0,New Customer,14.0,High Spender,30.0,Non-frequent Customer
4,431534,1,5.0,4.0,15.0,28.0,196,1.0,1.0,both,...,Mid-range product,Least Busy,Slowest Days,Most Orders,10.0,New Customer,14.0,High Spender,30.0,Non-frequent Customer

## 10. Export Data

In [42]:
#Exporting new dataframe as ords_prods_merge_loyalty.pkl
ords_prods_merge_clean.to_pickle(os.path.join(path, '02_Data', 'Prepared_Data', 'ords_prods_merge_loyalty.pkl'))